* {
	margin: 0;
	padding: 0;
}
#options {
	text-align: center;
}
.board {
	display: flex;
	justify-content: center;
}
.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.square {
	border: solid 1px black;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
i {
	font-size: 25px;
}
